services:
  solr:
    image: solr:9-slim
    ports:
      - "8983:8983"
    networks: [search]
    environment:
      ZK_HOST: "zoo:2181"
      SOLR_HEAP: "1g"
    depends_on: [zoo]
    volumes:
      - data:/var/solr
      - ./mydata:/mydata
      - ./init-solr.sh:/init-solr.sh
    command: ["bash", "/init-solr.sh"]

  zoo:
    image: zookeeper:3.9
    networks: [search]
    environment:
      ZOO_4LW_COMMANDS_WHITELIST: "mntr,conf,ruok"

volumes:
  data:

networks:
  search:
    driver: bridge
